<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:lang="http://www.springframework.org/schema/lang"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd">


<bean id="u1" class="com.md.User" scope="prototype" autowire="byName" >
	<property name="x" value="7"></property>
	
<!-- if we use autowire then line=17 has to be comment out and
also male cA to calc or cB to calc and no need to change any other class -->


	<property name="y" value="8"></property>
	
	<!-- <property name="calc" ref="cA"></property> -->
</bean>



<bean id="cA" class="com.md.CalA">
</bean>

<bean id="calc" class="com.md.CalB">
</bean>

</beans>